@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Graphik-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Graphik-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Graphik-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Produkt-Medium";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Produkt-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Produkt-Light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Produkt-Light.otf") format("opentype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
